#### Functions
***

In [1]:
def square(n):
    return n*n

In [2]:
square(4)

16

In [3]:
def power(n, m):
    ans = 1
    for i in range(m):
        ans = ans * n
    return ans

In [4]:
power(4, 2)

16

In [5]:
def square(n):
    return power(n, 2)

In [6]:
square(4)

16

#### Map
***

In [7]:
# Create a list of numbers.
numbers = list(range(10))
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
# Apply f to all numbers.
def mapall(f, l):
    return [f(i) for i in l]

In [9]:
# Apply square function (from above) to numbers list.
mapall(square, numbers)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
# Apply str() function to numbers.
mapall(str, numbers)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [11]:
# Apply an anonymous function to numbers.
mapall(lambda x: x - 5, numbers)

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4]


#### Reduce
***

In [12]:
# Take a list and reduce it to a number.
# Output is ...f(f(f(l[0], l[1]), l[2]), l[3]), ...
def reduceall(f, l):
    # Start with the first element as answer.
    ans = l[0]
    # Loop through the other elements.
    for x in l[1:]:
        # Apply f to current answer and next list element.
        ans = f(ans, x)
    return ans

In [13]:
# Imperative programming languages...
def plus(x, y):
    """Replacing an operator with a function."""
    return x + y

In [14]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
# Add all elements of numbers.
reduceall(plus, numbers)

45

In [16]:
reduceall(plus, mapall(lambda x: x - (sum(numbers) / len(numbers)), numbers))

0.0

In [17]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
# A functional programming language would let you do this:
# Uncomment for an error:
# reduceall(+, numbers)

In [19]:
# Or this...
# Uncomment for an error:
# reduceall(sum, numbers)


#### Data as a Function
***

In [20]:
def two():
    return 2

In [21]:
two() + two()

4

In [22]:
def four():
    return two() + two()

In [23]:
four()

4

In [24]:
4 + four()

8

In [25]:
def four_the_func():
    return four

In [26]:
four_the_func()

In [27]:
# Uncomment for an error:
four_the_func() + four_the_func()

TypeError: unsupported operand type(s) for +: 'function' and 'function'